<h2 align="center" id="bycategory" style="font-family: monospace; font-size: 2rem;" class="mt-2">
  Deals & Offers
 </h2>
 <ng-container *ngIf="products.length; else noProducts">

 <div  class=" products gap-4    mt-5    mx-auto grid w-full max-w-9xl items-center d-flex flex-wrap justify-center space-y-4 px-5 py-10 md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3 ">




   <div class="rounded-lg product pt-3 px-5  mr-3" *ngFor="let product of displayedProducts ">
     <div (click)="openDialog(product)">
     <img
       [src]="product.imageFile.filePath"
       alt="Laptop"
       class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
     />
     <div class="p-2 mt-2">
       <h3 class="inline-flex items-center text-md font-semibold">
        {{product.productname |titlecase}}
       </h3>
       <br>
       <h3 class="inline-flex items-center text-lg offer font-bold font-family-sans-serif " *ngIf="product.offer !== 'null' && product.offer !== undefined && product.offer !== ''">
          {{ product.offer }} Off
       </h3>




       <div class="price d-flex align-items-center gap-2">
         <h2>  Price:{{ product.price | calculatepricepipe:product.offer | currency:'INR':'symbol':'1.2-2' }}</h2>
         <h4 class="text-decoration-line-through">{{ product.price | currency:'INR':'symbol':'1.2-2' }}</h4>




       </div>

     </div>
 </div>
   </div>


   </div>

   <app-paginator
   [currentPage]="currentPage"
   [pageSize]="pageSize"
   [collectionSize]="products.length"
   (pageChange)="onPageChange($event)">
 </app-paginator>
 </ng-container>
 <ng-template #noProducts>
   <div class="text-center mt-4">
     <div class="spinner-border text-info" role="status">
     <span class="visually-hidden">Loading...</span>
   </div></div>
 </ng-template>


