

<div style="height: 100vh;">
  <mat-toolbar color="primary"         class="colornav"
  >
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm

      >
        <mat-icon>menu</mat-icon>
      </button>
      
    <span ><i class="fa fa-shopping-bag" aria-hidden="true"></i>AToZ</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md >
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#home" class="text-decoration-none navlink items-center" mat-button>  <i class="fas fa-home mr-2"></i>Home</a>
        <a href="#aboutus" class="text-decoration-none navlink" mat-button><i class="fas fa-info-circle"></i> About Us</a>
        <a href="#contactus" class="text-decoration-none navlink" mat-button><i class="fas fa-envelope"></i> Contact Us</a>
        <a routerLink="signin" class="text-decoration-none navlink" mat-button><i class="fas fa-sign-in-alt"></i> Sign In</a>
        <a routerLink="login" class="text-decoration-none navlink" mat-button><i class="fas fa-sign-in-alt"></i> Login</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="navbar" fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#home" mat-list-item></a>Home
        <a href="#aboutus" mat-list-item>About Us</a>
        <a href="#contactus" mat-list-item>Contact Us</a>
        <a routerLink="signin" mat-list-item>Sign In</a>
        <a routerLink="login" mat-list-item>Login</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
<!--carousel-->

<div id="carouselexample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-keyboard="true">
  <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
          <img src="assets/beauty.jpg" class="w-100">
          <div class="carousel-caption d-block d-md-block">
              <h2 class="slide">Slide 1</h2>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/books.jpg" class="w-100">
              <div class="carousel-caption d-none d-md-block">
              <h2 class="slide">Slide 2</h2>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/furniture.webp" class="w-100">
              <div class="carousel-caption d-none d-md-block">
              <h2 class="slide">Slide 3</h2>
          </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/grocery.webp" class="w-100">
            <div class="carousel-caption d-none d-md-block">
            <h2 class="slide">Slide 4</h2>
        </div>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/electronics.webp" class="w-100">
          <div class="carousel-caption d-none d-md-block">
          <h2 class="slide">Slide 5</h2>
      </div>
  </div>

  <div class="carousel-item" data-bs-interval="2000">
    <img src="assets/fashion.avif" class="w-100">
        <div class="carousel-caption d-none d-md-block">
        <h2 class="slide">Slide 6</h2>
    </div>
</div>
  </div>

  <button class="carousel-control-prev" data-bs-target="#carouselexample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" data-bs-target="#carouselexample" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
  </button>

  <div class="carousel-indicators">
      <button data-bs-target="#carouselexample" data-bs-slide-to="0" class="active"></button>
      <button data-bs-target="#carouselexample" data-bs-slide-to="1"></button>
      <button data-bs-target="#carouselexample" data-bs-slide-to="2"></button>
      <button data-bs-target="#carouselexample" data-bs-slide-to="3"></button>
      <button data-bs-target="#carouselexample" data-bs-slide-to="4"></button>
      <button data-bs-target="#carouselexample" data-bs-slide-to="5"></button>

  </div>

</div>


<!--about us-->
<div id="aboutus">
<div id="about">
<div id="content">
  <h1 class="content"><b> A to Z</b></h1>

  <h1 class="info1"><b>Welcome Viewers !</b></h1>
  <h2 class="info"><b>here at "A to Z" we bring you a variety of choices from which you can browse to your heart's content.</b></h2>
  <h2 class="info"><b> At AtoZ, we are dedicated to providing you with an unparalleled online shopping experience. Much like the vast and diverse. AtoZ is your one-stop destination for all things you desire, offering an extensive range of products, from everyday essentials to the latest trends.</b></h2>

  <h1 class="info1"><b>Who We Are:</b></h1>
  <h2 class="info"><b>AtoZ isn't just an e-commerce platform; it's a digital marketplace that brings together buyers and sellers, creating a dynamic space where you can explore, discover, and indulge in a world of choices. Our team is passionate about delivering convenience, quality, and a seamless shopping journey to our users.</b></h2>   

  <h1 class="info1"><b>Our Mission:</b></h1>
  <h2 class="info"><b>Our mission at AtoZ is to redefine your online shopping experience. We understand the thrill of finding the perfect product, and our goal is to make that process as enjoyable and straightforward as possible. With a commitment to customer satisfaction and a vast selection of goods, we strive to be your go-to destination for all your shopping needs.
  </b></h2>
</div>
</div>
</div>

<!--contact us-->

<div class="backgroundimg">
  <div id="contactus" class="container">
    <h1>Contact Us</h1>
    <form (ngSubmit)="sendEmail()">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div>


<footer>
    <div id="main">
      <div id="submain">
        <div id="footer">
        <div class="footer">
            <h2>Solutions</h2>
            <h4>Website Surveys</h4>
            <h4>In-message Surveys</h4>
            <h4>Net Promoter Score</h4>
            <h4>Questionaries</h4>
            <h4>Feedback Widget</h4>  
        </div>
        <div class="footer">
            <h2>Product</h2>
            <h4>Pricing</h4>
            <h4>Features</h4>
            <h4>Updates</h4>
        </div>
          <div class="footer">
              <h2>Customers</h2>
              <h4>Customers</h4>
              <h4>Customer Stories</h4>
              <h4>Industries</h4>
              <h4>Reviews</h4>
          </div>
        <div class="footer">
            <h2>Resources</h2>
            <h4>Knowledge Base</h4>
            <h4>Feedback</h4>
            <h4>installations Guides</h4>
            <h4>Website Survey Demo</h4>
            <h4>E-books</h4>
      </div>
      <div class="footer">
          <h2>Company</h2>
          <h4>About</h4>
          <h4>Contact</h4>
          <h4>Press kit</h4>
          <h4>Careers</h4>
      </div>
    </div>
    </div>

      <br><br><br><br>
      <hr>
      <br><br><br><br><br><br>
      <div id="logo">
        <h2>Contact No: </h2>
        <h4>+91-9225520000 </h4>
        <h2>Email: </h2>
        <h4>modulartreeinfotech.com</h4>
        <div id="logo1">
          <img class="logo" src="assets/facebppk.png">
          <img class="logo" src="assets/insta.png">
          <img class="logo" src="assets/twitter.png">
          <img class="logo" src="assets/youtube.png">
          <img class="logo" src="assets/linkdin.png">
        </div>
      </div>
    </div>
  </footer>
</mat-sidenav-content>
</mat-sidenav-container>
</div>