<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="error-content p-4 text-center bg-light shadow rounded">
    <h1><i class="bi bi-exclamation-triangle-fill text-danger"></i> Oh no! Page not found!</h1>
    <p>Sorry, the page you are looking for cannot be found or no longer exists.</p>
    <p>We have recently redesigned our website to standardize and simplify our service.</p>
    <p>You can return to the <a routerLink="/">Home</a> page or try our search above.</p>
  </div>
</div>
