<h2 align="center" id="bycategory">
  Categorized Products
</h2>

<main>
  <div class="container-fluid mt-4">
    <div class="md:flex md:flex-row md:items-start md:justify-between">


      <div class="md:flex-shrink-0 md:w-1/6 md:mr-4 fw-bold">
        <aside class="filters my-2 border-2 border-dashed ">
          <!-- Filtering code -->
          <div class="mx-1 my-1 py-1">
            
            <div>
              <div class="my-2">FILTERS</div>
              <div class="gender-options">
                <input type="radio" class="form-check-input" id="radio-men" name="gender" value="men" />
                <label class="form-check-label" for="radio-men">Men</label>
                <br>
                <input type="radio" class="form-check-input" id="radio-women" name="gender" value="women" />
                <label class="form-check-label" for="radio-women">Women</label>
                <br>
                <input type="radio" class="form-check-input" id="radio-kids" name="gender" value="kids" />
                <label class="form-check-label" for="radio-kids">Kids</label>
                <br>
                <input type="radio" class="form-check-input" id="radio-senior" name="gender" value="senior" />
                <label class="form-check-label" for="radio-senior">Senior Citizen</label>
                <br>
                <input type="radio" class="form-check-input" id="radio-boy" name="gender" value="boy" />
                <label class="form-check-label" for="radio-boy">Boy</label>
                <br>
                <input type="radio" class="form-check-input" id="radio-girl" name="gender" value="girl" />
                <label class="form-check-label" for="radio-girl">Girl</label>
              </div>
            </div>
          </div>

          <div class="mx-1 my-1 py-1">
            <div>
              <div class="my-2">PRICE RANGE</div>
              <form class="price-filter-form" (ngSubmit)="handlePriceFilterSubmit()">
                <div class="flex items-center mb-2">
                  <input name="minprice" id="minprice" type="number" placeholder="Enter minimum price" [(ngModel)]="minPrice" />
                </div>
          
                <div class="flex items-center mb-2">
                  <input name="maxprice" id="maxprice" type="number" placeholder="Enter maximum price" [(ngModel)]="maxPrice" />
                </div>
          
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-green-600">
                  Search
                </button>
              </form>
            </div>
          </div>
          
          <div class="mx-1 my-1 py-1">
            <div>
              <div class="my-2">Size</div>
              <div *ngFor="let val of sizeFinal">
                <input type="checkbox" class="form-check-input" id="{{'checkbox-' + val}}" [value]="val"
                  (change)="handleChange($event)" />
                <label class="form-check-label" for="{{'checkbox-' + val}}">{{val}}</label>
              </div>
            </div>
          </div>
          
          <div class="mx-1 my-1 py-1">
            <div>
              <div class="my-2">CATEGORIES</div>
              <div *ngFor="let val of catFinal">
                <input type="radio" class="form-check-input" id="{{'radio-' + val}}" name="radioGroup" [value]="val"
                  (change)="handleChange($event)" />
                <label class="form-check-label" for="{{'radio-' + val}}">{{val}}</label>
              </div>
            </div>
          </div>

          <div class="mx-1 my-1 py-1">
            <div>
              <div class="my-2">COLOURS</div>
              <div *ngFor="let val of colours">
                <input type="checkbox" class="form-check-input" id="{{'checkbox-' + val}}" [value]="val"
                  (change)="handleChange($event)" />
                <label class="form-check-label" for="{{'checkbox-' + val}}">{{val}}</label>
              </div>
            </div>
          </div>
          
        </aside>
      </div>


      <div class="md:flex-grow">
        <section>
          <!-- Product display code -->
          <div class="md:flex md:flex-row products">
            <div class="md:w-1/6 mt-2 categoried">

              <!-- Add similar radio inputs for other categories -->
            </div>

            <!-- <div class="md:w-5/6 box h-[800px] rounded-lg border-2 border-dashed px-2"> -->
            <div class="md:w-5/6 mt-4 box h-[800px] rounded-lg border-2 border-dashed px-4 py-2">

              <div
                class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4">
                
                <div class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4">
                  <div class="rounded-md border">
                    <img
                      src="https://images.unsplash.com/photo-1588099768523-f4e6a5679d88?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTM4MTU1NXx8ZW58MHx8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                      alt="Laptop"
                      class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
                    />
                    <div class="p-4">
                      <h1 class="inline-flex items-center text-lg font-semibold">
                        Nike Airmax v2
                      </h1>
                      <p class="mt-3 text-sm text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        debitis?
                      </p>
                      <div class="mt-4">
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Sneakers
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Nike
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Airmax
                        </span>
                      </div>
                      <div class="mt-3 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Colors : </span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-red-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-purple-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-orange-400"></span>
                      </div>
                      <div class="mt-5 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Size : </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          8 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          9 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          10 UK
                        </span>
                      </div>
                      <button
                        type="button"
                        class="mt-4 w-full rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                      >
                        Add to Cart
                      </button>
                    </div>
                  </div>
                  <div class="rounded-md border">
                    <img
                      src="https://images.unsplash.com/photo-1588099768523-f4e6a5679d88?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTM4MTU1NXx8ZW58MHx8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                      alt="Laptop"
                      class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
                    />
                    <div class="p-4">
                      <h1 class="inline-flex items-center text-lg font-semibold">
                        Nike Airmax v2
                      </h1>
                      <p class="mt-3 text-sm text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        debitis?
                      </p>
                      <div class="mt-4">
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Sneakers
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Nike
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Airmax
                        </span>
                      </div>
                      <div class="mt-3 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Colors : </span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-red-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-purple-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-orange-400"></span>
                      </div>
                      <div class="mt-5 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Size : </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          8 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          9 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          10 UK
                        </span>
                      </div>
                      <button
                        type="button"
                        class="mt-4 w-full rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                      >
                        Add to Cart
                      </button>
                    </div>
                  </div>
                  <div class="rounded-md border">
                    <img
                      src="https://images.unsplash.com/photo-1588099768523-f4e6a5679d88?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTM4MTU1NXx8ZW58MHx8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                      alt="Laptop"
                      class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
                    />
                    <div class="p-4">
                      <h1 class="inline-flex items-center text-lg font-semibold">
                        Nike Airmax v2
                      </h1>
                      <p class="mt-3 text-sm text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        debitis?
                      </p>
                      <div class="mt-4">
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Sneakers
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Nike
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Airmax
                        </span>
                      </div>
                      <div class="mt-3 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Colors : </span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-red-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-purple-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-orange-400"></span>
                      </div>
                      <div class="mt-5 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Size : </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          8 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          9 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          10 UK
                        </span>
                      </div>
                      <button
                        type="button"
                        class="mt-4 w-full rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                      >
                        Add to Cart
                      </button>
                    </div>
                  </div>
                  <div class="rounded-md border">
                    <img
                      src="https://images.unsplash.com/photo-1588099768523-f4e6a5679d88?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMTM4MTU1NXx8ZW58MHx8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
                      alt="Laptop"
                      class="aspect-[16/9] w-full rounded-md md:aspect-auto md:h-[300px] lg:h-[200px]"
                    />
                    <div class="p-4">
                      <h1 class="inline-flex items-center text-lg font-semibold">
                        Nike Airmax v2
                      </h1>
                      <p class="mt-3 text-sm text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
                        debitis?
                      </p>
                      <div class="mt-4">
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Sneakers
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Nike
                        </span>
                        <span class="mb-2 mr-2 inline-block rounded-full bg-gray-100 px-3 py-1 text-[10px] font-semibold text-gray-900">
                          #Airmax
                        </span>
                      </div>
                      <div class="mt-3 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Colors : </span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-red-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-purple-400"></span>
                        <span class="block h-4 w-4 rounded-full border-2 border-gray-300 bg-orange-400"></span>
                      </div>
                      <div class="mt-5 flex items-center space-x-2">
                        <span class="block text-sm font-semibold">Size : </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          8 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          9 UK
                        </span>
                        <span class="block cursor-pointer rounded-md border border-gray-300 p-1 px-2 text-xs font-medium">
                          10 UK
                        </span>
                      </div>
                      <button
                        type="button"
                        class="mt-4 w-full rounded-sm bg-black px-2 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                      >
                        Add to Cart
                      </button>
                    </div>
                  </div>
                </div>
                

              </div>

            </div>
          </div>
          
        </section>
      </div>

    </div>
  </div>
</main>